.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    padding: 0 5%;
}

.row-align-center {
    align-items: center;
}

.row-align-right {
    align-items: flex-end;
}

.row-justify-center {
    justify-content: center;
}

.row-justify-left {
    justify-content: flex-start;
}

.row-justify-space-between {
    justify-content: space-between;
}

.row-justify-space-around {
    justify-content: space-around;
}

